body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ok{
  display: flex;
  flex-direction:column;
  row-gap: 4px;
  box-shadow: 0 0 5px rgb(124, 120, 120);
  overflow: hidden;
  border-radius: 4.5px;
  padding: 10px;
} 
*{
  font-family:cursive;
}
p{
  font-size: medium;
  font-weight: 600;
}
.count{
  color: rgb(78, 221, 78);
}
.question{
  margin-bottom: 30px;
}
button {
  border: none;
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover{
background-color: rgb(182, 175, 175);
}
.nexxt{
  color: blue;
  font-weight: 600;
}