body{
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  color:white;
}
title{
  font-size: large;
}
img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border:5px solid white;
  margin: 10px;
}
button{
  background-color: transparent;
  padding:5px 20px;
  margin: 5px 10px;
  border-radius:5px;
  border: none;
  color: white;
}
b{
  text-align:center;
}
.hell ,.wil , .result{
  text-align: center;
}
.wil{
  font-size: large;
  font-style: bold;
}
div{
  text-align: center;
}
.reset{
  background-color: white;
  color:black;
  font-style:oblique;
  padding: 10px;
  border:none;
  border-radius: 10px;
}
.marquee{
  position:relative;
  bottom:0px;
}